.container {
	max-width: 800px;
	margin: 0 auto;
}

.preview {
	margin-top: 20px;
	border: 1px solid #ccc;
	padding: 10px;
	display: none;
}

#preview_message {
	font-weight: bold;
	margin-bottom: 10px;
}

#preview_url {
	display: block;
}
.fb-login-button {
  margin-bottom: 20px;
}

#pages {
  display: none;
  margin-bottom: 20px;
}

#post-form {
  display: none;
  margin-bottom: 20px;
}

#post-preview {
  display: none;
  margin-bottom: 20px;
}
